/*////////////////////////////////////
General
////////////////////////////////////*/

#globeViz {
  display: none;
}
/* @media screen and (max-width: 767px) { //ericleee
  #globekit-canvas {
    display: none;
  }
  #globeViz {
    display: block;
  }
} */

html,
body {
  font: 16px "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background-color: #000000;
}

h1,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

svg {
  fill: #ffffff;
}

/*////////////////////////////////////
Stationary content
////////////////////////////////////*/

.stationary-content {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* Header */

.header {
  position: fixed;
  width: 100%;
  z-index: 13;
  transform: translateZ(0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5vw 20px 5.5vw;
  box-sizing: border-box;
}

.header .logo-text {
  position: absolute;
  top: 50%;
  left: 11%;
  margin: -8px 0 0 0;
}

.header .logo-mark {
  float: left;
  padding: 0;
  display: flex;
}

.header .right-menu svg {
  display: block;
  width: 20px;
}
/* @media screen and (max-width: 767px) {
  .header .right-menu svg {
    fill: black;
  }
} */

.header .logo-mark img {
  max-height: 45px;
  object-fit: contain;
}
.header .logo-mark p {
  margin-left: 15px;
  padding-left: 15px;
  font-size: 11px;
  margin-bottom: 0;
  position: relative;
  line-height: 1.3;
  color: white;
  /* @media screen and (max-width: 768px) {
      display: none;
  } */
}
.header .logo-mark p::before {
  content: " ";
  display: block;
  height: 100%;
  width: 0.5px;
  background: #ffffff80;
  position: absolute;
  left: 0;
}

.header .social {
  position: absolute;
  top: 50%;
  right: 3.3vw;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  margin: -10px 0 0 0;
}

.header .social li {
  float: left;
}

.header .social li.share:after {
  content: "";
  display: inline-block;
  width: 4.5vw;
  height: 1px;
  margin: 0 0 0 10px;
  background: white;
  vertical-align: middle;
}

.header .social li {
  margin: 0 0 0 2vw;
  transition: opacity 0.2s;
}

.header .social li.icon:hover {
  opacity: 0.7;
}

.social-icons {
  position: fixed;
  bottom: 30px;
  right: 4vw;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: lighter;
  z-index: 11;
}

@media only screen and (max-width: 767px) {
  .social-icons {
    display: none;
  }
  .header .logo-mark {
    padding: 0 !important;
  }
  .header .logo-mark img {
    max-width: 170px;
  }
}

.social-icons hr {
  border-color: #ffffff;
  max-width: 100%;
  width: 85px;
  margin: auto 6px;
  opacity: 0.6;
}

.social-icons a svg {
  width: 22px;
}

.social-icons a {
  padding: 4px 8px;
  display: flex;
}

/* Pagination (text) */

#pagination {
  position: fixed;
  top: 40%;
  right: 1.5vw;
  transform: translate3d(0, -50%, 0);
  transition: all 0.5s ease;
}
@media screen and (max-width: 767px) {
  #pagination {
    top: 50%;
    right: 0%;
  }
}
#pagination-text {
  font-size: 0;
  font-weight: 100;
  color: #fff;
}
@media screen and (max-width: 767px) {
  #pagination-text {
    /* color: black; */
  }
}
#page-count-tens,
#page-count-ones {
  display: inline-block;
  height: 20vw;
  overflow: hidden;
  vertical-align: bottom;
}
@media screen and (max-width: 767px) {
  #page-count-tens,
  #page-count-ones {
    /* font-family: "Londrina Outline"; */
    height: 40vw;
  }
}
#pagination-text .page-numbers {
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.resizing #pagination-text .page-numbers {
  transition: none;
}

#pagination-text .page-number {
  height: 20vw;
  font-size: 15vw;
  line-height: 22vw;
}
@media screen and (max-width: 767px) {
  #pagination-text .page-number {
    height: 40vw;
    font-size: 40vw;
    line-height: 40vw;
  }
}
#page-count-total {
  font-size: 24px;
  display: block;
  margin: -3vw 0 0 1vw;
  padding: 0 0 0 0.4em;
}
@media screen and (max-width: 767px) {
  #page-count-total {
    display: none;
  }
}
/* Pagination (caption) */

p.viz-caption {
  display: inline-block;
  white-space: nowrap;
  padding: 30px 0 0 35px;
  font: 300 14px/1.8em "Roboto", sans-serif;
  color: #fff;
}

p.viz-caption:before {
  content: "";
  width: 6px;
  height: 6px;
  margin: 0 6px 2px -12px;
  display: inline-block;
  background: #c82c7f;
  border-radius: 50%;
}

p.viz-caption a {
  position: relative;
  display: block;
  color: #8a0e51;
  text-decoration: none;
}

p.viz-caption a svg {
  margin: 0 0 0 4px;
  fill: #8a0e51;
}

p.viz-caption a:hover {
  color: #c82c7f;
}

p.viz-caption a:hover svg {
  fill: #c82c7f;
}

/* Pagination (dots) */

#pagination-dots {
  position: absolute;
  left: 50%;
  margin: 5vh 0 0 -10px;
  z-index: 9999;
}
@media screen and (max-width: 767px) {
  #pagination-dots {
    display: none;
  }
}

#pagination-dots div {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  opacity: 0.35;
  box-sizing: border-box;
  transition: transform 1.5s cubic-bezier(0.24, 1.45, 0.24, 0.98);
  cursor: pointer;
}

.desktop #pagination-dots > li > div:hover {
  opacity: 1;
}
.desktop #pagination-dots > li > div:hover div {
  box-shadow: 0px 0px 8px 3px white;
}

#pagination-dots div div {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
}

#pagination-dots li.selected div {
  opacity: 1;
  /* border: 1px solid white;
  border-radius: 50%; */
}

#pagination-dots li.selected div div {
  /* box-shadow: none; */
  box-shadow: 0px 0px 10px 4px white;
  backdrop-filter: blur(2px);
}
/* Request link */

#request-wrapper {
  text-decoration: none;
}
#request {
  /* position: absolute; */
  z-index: 10;
  /* bottom: 46px; */
  /* left: 5.5vw; */
  position: relative;
  margin-top: 50px;

  width: 279px;
  height: 67px;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;

  border: 2px solid #be1e73;
  background: none;
  color: white;
  border-radius: 0;
  text-transform: uppercase;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 767px) {
  #request {
    display: none;
  }
}

#request::before {
  width: 85px;
  height: 100%;
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: #e31e5380;
  transition: all ease-in 1s;
  opacity: 1;
  max-height: 67px;
  z-index: 0;
}

#request:hover:before {
  width: 100%;
}

#request span {
  position: relative;
  z-index: 1;
  font-size: 16px;
}

#request .icon {
  background: transparent;
  fill: white;
  height: 100%;
  margin-left: 82px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 640px) {
    padding: 10px;
  }
}

/* Mouse wheel */
#mouse-wheel {
  position: fixed;
  display: block;
  width: 18px;
  height: 30px;
  top: 85%;
  right: 42%;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.39, 0.575, 0.565, 1),
    top 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

#mouse-wheel.visible {
  opacity: 1;
}

#mouse-wheel.hidden {
  top: 95%;
  opacity: 0;
}

.wheel {
  position: absolute;
  /*transition: all 1s cubic-bezier(0.390, 0.575, 0.565, 1.000);*/
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  top: -4px;
}

.wheel.animate {
  left: 45%;
  animation-name: wheelBounce;
  animation-duration: 1s;
  /* or: Xms */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both;
  /* or: backwards, both, none */
}

/*////////////////////////////////////
Copy area
////////////////////////////////////*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
  only screen and (-o-min-device-pixel-ratio: 13/10),
  only screen and (min-resolution: 120dpi) {
  /* -webkit-font-smoothing: antialiased; */
}

#scrolling-wrapper {
  position: absolute;
  inset: 0;
  overflow-y: scroll;
  clip-path: polygon(
    50% 0px,
    100% 0,
    100% 50%,
    70% 50%,
    70% 80%,
    95% 80%,
    95% 50%,
    100% 50%,
    100% 100%,
    50% 100%,
    50% 80%,
    0% 80%,
    0 150px,
    50% 150px
  );
  z-index: 11;
}
@media screen and (max-width: 767px) {
  #scrolling-wrapper {
    clip-path: polygon(
      90% 0px,
      100% 0,
      100% 100%,
      80% 100%,
      80% 75%,
      0% 75%,
      0 150px,
      90% 150px
    );
  }
}
#scrolling-content {
  position: relative;
  top: 0;
  padding-top: 50px;
  width: 100%;
}

#scrolling-area {
  padding: 25vh 0 25vh 0;
}
@media screen and (max-width: 767px) {
  #scrolling-area {
    padding: 10vh 0px;
  }
}

.copy-section {
  position: relative;
  width: 100%;
  height: 50vh;
  transform: translateZ(0);
}
.copy-section.blank-section {
  visibility: hidden;
  height: 0px !important;
}

@media screen and (max-width: 767px) and (max-width: 670px) {
  .copy-section.blank-section {
    height: 10vh !important;
  }
}
@media screen and (max-width: 767px) and (max-width: 1000px) {
  .copy-section.blank-section {
    height: 30vh !important;
  }
}
.copy-content {
  position: absolute;
  top: 50%;
  left: 5.5vw;
  padding: 0 0 74px 0;
  transform: translateY(-50%);
}

.copy-section h1 {
  margin: 32px 0;
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -0.1vw;
  line-height: 1em;
  color: #be1e73;
}

.copy-section p {
  max-width: 400px;
  margin: 30px 0;
  letter-spacing: 0.02em;
  font-weight: 300;
  line-height: 2em;
  color: #fff;
}

@media screen and (max-width: 1320px) {
  .copy-section h1 {
    font-size: 54px !important;
  }
  .copy-section p {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 1200px) {
  .copy-section h1 {
    font-size: 50px !important;
  }
  .copy-section p {
    font-size: 12px !important;
    max-width: 350px !important;
  }
}

@media screen and (max-width: 1000px) {
  .copy-section h1 {
    font-size: 42px !important;
  }
  .copy-section p {
    font-size: 10px !important;
    max-width: 250px !important;
  }
}

@media screen and (max-width: 860px) {
  .copy-section h1 {
    font-size: 34px !important;
  }
  .copy-section p {
    font-size: 12px !important;
    max-width: 250px !important;
  }
}

.copy-section h2 {
  display: none;
  max-width: 460px;
  margin: 0px 0;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 300;
  line-height: 2em;
  color: #fff;
}
.copy-section .learn-more-mobile {
  display: none;
  max-width: 460px;
  margin-top: 10px;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 300;
  line-height: 2em;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .copy-section h2 {
    display: block;
  }
  .copy-section .learn-more-mobile {
    display: flex;
    align-items: center;
  }
}
.copy-section h2 span {
  text-decoration-line: line-through;
  padding: 0 5px;
}
.copy-section .learn-more-mobile h3 {
  font-size: 16px;
}
.copy-section .learn-more-mobile svg {
  margin-left: 10px;
}

.copy-section span.emdash {
  display: block;
  position: relative;
  padding: 0 0 0 6.5vw;
  color: #fff;
}

.copy-section span.emdash span {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  width: 6vw;
  height: 3px;
  background: white;
  transform-origin: 0;
  transform: scaleX(0);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.copy-section .in span.emdash span {
  transform: scaleX(1);
}

/*////////////////////////////////////
Canvas
////////////////////////////////////*/

canvas#globekit-canvas {
  position: fixed;
}

div#quake-info {
  position: fixed;
  display: block;
  z-index: 1000;
  /* top: 0;
  left: 0;
  margin: 0 0 0 2vh;
  max-width: 20vw; */
}

div#quake-info > div {
  overflow: hidden;
  transform: translate(-50%, -90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
div#quake-info > div.in {
  opacity: 1;
}
div#quake-info div a {
  background: #be1e73;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
}
div#quake-info div a h1 {
  font-size: 14px;
  font-weight: 400;
}
div#quake-info div a span {
  font-size: 11px;
}

div#quake-info div canvas {
  width: 100px;
  height: 45px;
}
/* 
div#quake-info span {
  display: inline-block;
  padding: 0.6em 0.8em;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translate3d(-80%, 0, 0);
  font: 300 11px/1.5em "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

div#quake-info span.in {
  opacity: 1;
  transform: translate3d(0, 0, 0);
} */

div#quake-info strong {
  display: block;
  font-weight: 300;
  /* color: #fff; */
  color: #00ffff;
}

/*///////////////////////////////////
Form
///////////////////////////////////*/

#form-section {
  width: 40vw;
  max-width: 660px;
  transition: opacity 0.15s, transform 0.15s;
  overflow: hidden;
  opacity: 0;
  padding: 18px 0 0 0;
}

#form-section.active {
  opacity: 1;
  transition: opacity 0.25s, transform 0.25s;
}

#form-section.submitted {
  opacity: 0;
  visibility: hidden;
}

#form-section .input-block {
  margin: 0 0 30px 0;
}

#form-section .input-block.error label,
#form-section .textarea-block.error label {
  color: rgb(255, 204, 0);
}

#form-section .input-block.error input,
#form-section .textarea-block.error textarea {
  border-color: rgb(255, 204, 0);
}

#form-section #block-one {
  transform: translateY(400%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

#form-section #block-two {
  transform: translateY(400%);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

#form-section #block-three {
  transform: translateY(400%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

#form-section #block-four {
  transform: translateY(400%);
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}

#form-section.active #block-one,
#form-section.active #block-two,
#form-section.active #block-three,
#form-section.active #block-four {
  transform: translateY(0);
}

#form-section .input-block label,
.textarea-block label {
  position: absolute;
  color: white;
  transition: all 0.4s;
  opacity: 1;
  font-weight: 300;
}

#form-section .input-block input {
  border: none;
  display: block;
  font: 16px "Roboto", sans-serif;
  font-weight: 300;
  /*margin: 50px 0 0 0;*/
  width: 100%;
  background: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  color: white;
  padding: 0 0 12px 0;
  transition: all 0.4s;
  border-radius: 0;
}

#form-section .input-block input:focus {
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}

#form-section .textarea-block textarea {
  display: block;
  width: 100%;
  height: 90px;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin: 50px 0 0 0;
  background: none;
  transition: all 0.4s;
  font: 16px "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  resize: none;
  border-radius: 0;
}

#form-section .textarea-block textarea:focus {
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}

#form-section.active .input-block input {
}

#form-section .input-block.filled label,
#form-section .textarea-block.filled label {
  transform: translateY(-20px);
  opacity: 0.4;
  font-size: 12px;
  letter-spacing: 1px;
}

input:focus,
textarea:focus {
  outline: none;
}

#form-section #error-message {
  text-align: center;
  color: rgb(255, 204, 0);
  opacity: 0;
  transition: opacity 0.4s;
  margin: 15px 0 0 0;
  display: block;
}

#form-section #error-message.active {
  opacity: 1;
}

.topic-form #success-message {
  margin: 32px 0;
  font-size: 64px;
  font-weight: 100;
  letter-spacing: -0.1vw;
  line-height: 1em;
  color: #8a0e51;
  position: absolute;
  top: 0;
  /*opacity: 0;*/
  z-index: -10;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

/*////////////////////////////////////
Narrow Desktop
////////////////////////////////////*/

@media screen and (min-width: 1024px) {
  .copy-section h1 {
    margin: 40px 0;
    font-size: 98px;
  }

  .copy-content {
    padding: 0 0 160px 0;
  }

  .topic-form #success-message {
    margin: 40px 0;
    font-size: 98px;
  }
}

/*////////////////////////////////////
Narrow Desktop
////////////////////////////////////*/

@media screen and (max-width: 899px) {
  p.viz-caption {
    display: none;
  }
}

/*////////////////////////////////////
Short Desktop
////////////////////////////////////*/

@media screen and (max-height: 895px) {
  .copy-section h1 {
    font-size: 60px;
    margin: 30px 0;
  }

  .copy-section p {
    font-size: 16px;
    margin: 20px 0;
  }

  .copy-content {
    padding: 0 0 112px 0;
  }
}

@media screen and (max-height: 689px) {
  .copy-content {
    padding: 0 0 60px 0;
  }

  #form-section .textarea-block textarea {
    margin: 25px 0 0 0;
  }
}

/*////////////////////////////////////
FOUT Prevention
////////////////////////////////////*/

#scrolling-content,
#pagination,
.social {
  opacity: 0;
  transition: opacity 0.25s;
}

.fonts-active #scrolling-content,
.fonts-active #pagination,
.fonts-active #request,
.fonts-active .social {
  opacity: 1;
}

#bg-img {
  display: none;
}

/*//////////////////////////////////
Animation Keyframs
//////////////////////////////////*/
@keyframes wheelBounce {
  0%,
  20%,
  95%,
  100% {
    transform: translateY(-1px);
  }

  65%,
  85% {
    transform: translateY(3px);
  }
}

#zoom {
  position: absolute;
  left: 50%;
  bottom: 7%;
  z-index: 12;
  transform: translate(-50%, 0);
  padding: 10px 20px;
  font-weight: 600;
  display: none;
}
@media screen and (max-width: 767px) {
  #zoom {
    display: block;
  }
}

#globeViz {
  position: absolute;
  left: 50%;
  bottom: -15vw;
  transform: translate(-50%, 3%);
  transition: all 0.5s ease;
  z-index: 10;
}

#mobile-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: pink;
  overflow: hidden;
  display: none;
}

/* @media screen and (max-width: 767px) { //ericleee
  #mobile-wrapper {
    display: block;
  }
} */
#mask {
  position: absolute;
  width: 100vw;
  height: 30vw;
  bottom: 0;
  background: #655068;
  transition: all 0.5s ease;
}

#labels {
  opacity: 0;
  transition: all 0.5s ease;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label .expanded {
  /* display: none; */
  flex-direction: column;
  color: white;
  position: absolute;
  transform: translate(0, 20px);

  width: 150px;
  padding: 1rem;
  background: black;
}

.label .expanded span {
  white-space: nowrap;
  font-size: 12px;
}

.label .expanded h1 {
  font-size: 16px;
}

.label .expanded .splitter {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid gray;
  padding: 5px 0;
}

.label .expanded h2 {
  font-size: 12px;
}
